<% include templates/header.ejs %>
<ul class="menu">

<li><a class="menuoptions" href="/people/<%= id %>">Profile</a> </li>
<li><a class="menuoptions" href="/edituser/<%= id %>">Edit Profile</a></li>
<li><a class="menuoptions" href="/deleteusercheck/<%= id %>">Delete Profile</a></li>
</ul>

</body>