<% include templates/header.ejs %>
	<ul class="menu">
		<li><a class="menuoptions" href="/people/<%= id %>">Profile</a> </li>
		<li><a class="menuoptions" href="/clubs/<%= id %>"> My Clubs</a></li>
		<li><a class="menuoptions" href="/edituser/<%= id %>">Edit Profile</a></li>
		<li><a class="menuoptions" href="/deleteuser/<%= id %>">Delete Profile</a></li>
	</ul>
</body>
</html> 