<% include templates/header.ejs %>
  <ul class="profile">
    <li class="menuoptions"><b>Club Name: </b><%- club_name %> </li>
    <li class="menuoptions"><b>Sport: </b><%- sport %></li>
    <li class="menuoptions"><b>Club Email: </b><%- club_email %></li>
  </ul>
</body>
</html>