<!DOCTYPE html>
  <html>
    <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <% include templates/header.ejs %>

      <p>club name: <%- club_name %> </p>
      <p>sport: <%- sport %></p>
      <p>Club email:<%- club_email %></p>
    </body>
  </html>
