<!DOCTYPE html>
  <html>
    <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <% include templates/header.ejs %>

      <p>Committee member added! </p>
      <p>Membership ID: <%- membership_id %></p>
      <p>Committee Role:<%- committee_role %></p>
    </body>
  </html>
