<% include templates/header.ejs %>
	<div class="logintest">
  <form action="/committee/<%= id %>/ <%= club_id %>/addcommittee/<%= membership_id %>/committeerole" method="POST">
   </br>
    
          <input class="input" type="text" placeholder="Committee Role" name="committee_role">

 </br></br>
        <button class="button widebutton"" type="submit">Submit</button>
        </form>
      
    </body>
  </html>
