<% include templates/header.ejs %>
<p>Are you sure you want to delete your account?</p>
<form action="/deleteuser/<%= id %>" method="GET">
<button class="button is-light" type="submit">Delete</button>
</form>
<form action="/account" method="GET">
<button class="button is-light" type="submit">Cancel</button>
</form>
</body>
</html>
