<!DOCTYPE html>
  <html>
    <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <% include templates/header.ejs %>

      <p>We deleted id: <%- id %> </p>
    </body>
  </html>
