<% include templates/header.ejs %>
	</br> </br>
	<p class="checkpage">Are you sure you want to delete your account?</p>
  <form action="/userdeleted/<%= id %>" method="GET"> 
  	</br></br></br></br>
   	<button class="button checkpage checkbutton" id="userdeleted" type="submit">Delete User</button>
  </form>
	<form action="/account/<%= id %>" method="GET">
		<button class="button checkpage checkbutton"  type="submit">Cancel</button>
	</form>
</body>
</html>