<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
	  <% include templates/header.ejs %>
		<form action="/editclub/<%= id %>" method="POST">
			 <p>club name: 
			 <input type="text" name="club_name" value="<%- club_name %>"></p>

			 <p>sport:
			 <input type="text" name="sport" value="<%- sport %>"></p>

			 <p>Club Email:
			 <input type="email" name="club_email" value="<%- club_email %>"></p>

			 <button type="submit" value="Submit">Submit</button>
		</form>
	</body>
</html>