<% include templates/header.ejs %>
	<ul>
    <li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/statistics/addeventlocation">Add Event Location</a> </li>
  </ul>
  </br>
  <p class="checkpage">You have no event locations</p>
</body>
</html>