<html>

<body>
	<h1>We found a person</h1>
	<p>first name: <%= first_name %>
    <form action="/edituser/:id" method="PUT">
		  <input type="text" placeholder="First Name" name="first_name">   
		  <button type="submit">Submit</button>
		  </form>
	</p>
	<p>last name: <%= last_name %></p>


</body>

</html>