<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Raleway" rel="stylesheet">
    <section class="hero">
    </section>
  </head>
  <body class="index">
    <div >
      <form action="/login" method="GET">   
        <button class="enter" id="login" type="submit">Trax </button>
      </form> 
      </br>

    </div>
  </body>
</html>  