<!DOCTYPE html>
  <html>
    <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <% include templates/header.ejs %>
      <p>Joined club! </p>

    </body>
  </html>