<% include templates/header.ejs %>
<ul>
     <li><a class="menuoptions" href="/newclub/<%= id %>">New Club</a> </li>
<div class="menu">
      <form action="/joinclub/<%= id %>" method="POST">
        <% for(var i=0; i < clubs.length; i++) {%>
          <li style="list-style-type:none"> 
            <button class="menuoptionsbutton" type="submit" value="<%= clubs[i] %>" name="clubs"><%= clubs[i] %></button>
          </li>
        <% } %>
        </div>
      </form>

    </body>
  </html> 