<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
      <link rel="stylesheet" type="text/css" href="bulma.css" />
      <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <script type="text/javascript" src="jquery-3.1.0.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Raleway" rel="stylesheet">
      <section class="hero">
        <h1>Trax</h1>
        <h2>The app for university sports clubs</h2>
      </section>
    </head>
    <body>
<div class="logintest">
    <form action="/login" method="POST">
      <input class="input loginform" type="text" placeholder="Email" name="email">

      <input class="input" type="text" placeholder="Password" name="password">
      <br />
      <br />      
      <button class="button widebutton" sid="login" type="submit">Log In</button>
    </form> 
   </br>
 
    <form action="/newuser" method="GET"> 
    <button class="button widebutton" id="signup" type="submit">Sign Up</button>
    </form>
    </div>
        </body>