      <% include templates/header.ejs %>
      <form action="/newclub/<%= id %>" method="POST">
        <input type="text" placeholder="Club Name" name="club_name">
        <br />
        <input type="text" placeholder="Sport" name="sport">
        <br />
        <input type="email" placeholder="Email" name="club_email">
        <br />  
        <button type="submit">Submit</button>
      </form> 
    </body>
  </html>