<!DOCTYPE html>
  <html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <% include templates/header.ejs %>

      <form action="/" method="POST">
        <input type="text" placeholder="Club Name" name="club_name">
        <br />
        <input type="text" placeholder="Sport" name="sport">
        <br />
        <input type="email" placeholder="Email" name="club_email">
        <br />  
        <button type="submit">Submit</button>
      </form> 
    </body>
  </html>