      <% include templates/header.ejs %>
      <div class="logintest">
      <form action="/committee/<%= id %>/<%= club_id %>/newteam" method="POST">
        <input class="input" type="text" placeholder="Team Name" name="team_name">
        <br />
        <br />  
        <button class="button widebutton" type="submit">Submit</button>
      </form> 
      </div>
    </body>
  </html>

