<!DOCTYPE html>
  <html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <% include templates/header.ejs %>

      <div class="newuser">
      <form action="/newuser" method="POST">
        <p class="control has-icon">  
          <input class="input" type="text" placeholder="First Name" name="first_name">
          <i class="fa fa-pencil"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="text" placeholder="Last Name" name="last_name">
          <i class="fa fa-pencil"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="date" placeholder="Date of Birth" name="dob">
          <i class="fa fa-birthday-cake"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="text" placeholder="Address" name="address">
          <i class="fa fa-home"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="email" placeholder="Email" name="email">
          <i class="fa fa-envelope"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="tel" placeholder="Telephone" name="telephone">
          <i class="fa fa-phone"></i>
        </p>  
        <p class="control has-icon">      
          <input class="input" type="number" placeholder="Year of Study" name="year">
          <i class="fa fa-list-ol"></i>
        </p>  
        <p class="control has-addons">  
          <button style = "width: 100%;" class="button is-light is-fullwidth" type="submit">Submit</button>
        </p>  
        </div>
      </form> 
    </body>
  </html>
