<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
      <link rel="stylesheet" type="text/css" href="bulma.css" />
      <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <script type="text/javascript" src="jquery-3.1.0.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Raleway" rel="stylesheet">
      <section class="hero">
        <h1>Trax</h1>
        <h2>The app for university sports clubs</h2>
      </section>
    </head>
    <body>

      <div class="newuser">
      <form action="/newuser" method="POST">
        <p class="control has-icon">  
          <input class="input" type="text" placeholder="First Name" name="first_name">
          <i class="fa fa-pencil"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="text" placeholder="Last Name" name="last_name">
          <i class="fa fa-pencil"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="date" placeholder="Date of Birth" name="dob">
          <i class="fa fa-birthday-cake"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="text" placeholder="Address" name="address">
          <i class="fa fa-home"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="email" placeholder="Email" name="email">
          <i class="fa fa-envelope"></i>
        </p>  
        <p class="control has-icon">  
          <input class="input" type="tel" placeholder="Telephone" name="telephone">
          <i class="fa fa-phone"></i>
        </p>  
        <p class="control has-icon">      
          <input class="input" type="number" placeholder="Year of Study" name="year">
          <i class="fa fa-list-ol"></i>
        </p>  
        <p class="control has-addons">  
          <button style = "width: 100%;" class="button is-light is-fullwidth" type="submit">Submit</button>
        </p>  
        </div>
      </form> 
    </body>
  </html>
