      <% include templates/header.ejs %>
</br></br>

      <ul>
          <li><a class="menuoptions" href="/joinclub/<%= id %>">Join Club</a> </li>
          </ul>
          </br>
      <p class="checkpage">You are not a member of any clubs!</p>
    </body>
  </html>
