<% include templates/header.ejs %>
	<a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/teams/<%= team_id %>/addteammembers">Add Team Members</a> 
	</br>
  <p class="checkpage">There are no members of this team!</p>
</body>
</html>