<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
      <link rel="stylesheet" type="text/css" href="bulma.css" />
      <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <script type="text/javascript" src="jquery-3.1.0.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Raleway" rel="stylesheet">
      <section class="hero">
        <h1>Trax</h1>
        <h2>The app for university sports clubs</h2>
      </section>
    </head>
    <body>
    </br></br>
    <p class="checkpage">Please enter a valid email and password</p>
    <form action="/newuser" method="GET"> 
      <button class="button widebutton buttonspan" id="login" type="submit">Sign Up</button>
    </form>
</body>
</html>