<% include templates/header.ejs %>
</br></br>
<p class="checkpage">Are you sure you want to reserve your lift?</p>
		<form action="/liftsharing/<%= id %>/<%= club_id %>/<%= route_id %>/reservelift" method="POST">
		</br></br></br></br>

			<button class="button checkpage checkbutton" type="submit" value="Submit">Reserve Lift</button>
		</form>
</body>
</html>