<% include templates/header.ejs %>
	</br> </br>
	<p class="checkpage">Your account has been deleted</p>
	<form action="/login" method="GET">
		</br></br></br></br>
		<button class="button checkpage checkbutton" type="submit">Login</button>
	</form>
</body>
</html>