<% include templates/header.ejs %>
	<p>Your account has been deleted</p>
	<form class="checkpage" action="/login" method="GET">
		<button class="button is-light" type="submit">Login</button>
	</form>
</body>
</html>