<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
      <link rel="stylesheet" type="text/css" href="bulma.css" />
      <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <script type="text/javascript" src="jquery-3.1.0.js"></script>
    </head>
    <body>
		    <div class="container">
			    <nav class="tabs is-boxed">
			      <a href="/news" class="nav-item is-tab">News</a>
			      <a href="/liftsharing" class="nav-item is-tab">Liftsharing</a>
						<a href="/calendar" class="nav-item is-tab">Calendar</a>
						<a href="/statistics" class="nav-item is-tab">Statistics</a>
						<a href="/chat" class="nav-item is-tab">Chat</a>
						<a href="/account" class="nav-item is-tab">Account</a>
       		</div>
  			</div>
			</nav>
<a href="/">Home</a>
<a href="/people">People</a>
<a href="/newuser">New User</a>
<a href="/deleteuser">Delete User</a>
<a href="/edituser/">Edit User</a>
<a href="/newclub">New Club</a>
<a href="/clubs">Clubs</a>
<a href="/editclub/">Edit Club</a>
<a href="/deleteclub">Delete Club</a>
<a href="/newsu">New SU</a>
<a href="/addcommittee/">Add Committee</a>
<a href="/viewclub/">View Club</a>
<a href="/login">Log in</a>
<a href="/test">Test</a>