<!DOCTYPE html>
  <html>
  	<head>
        <link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
      <link rel='stylesheet' type="text/css" href="/stylesheets/style.css"> <!-- /> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Raleway" rel="stylesheet">
			<section class="hero">
      	<h1>Trax</h1>
      	<h2>The app for university sports clubs</h2>
			</section>
			<div class="widemenu">
			  <nav class="tabs is-boxed navigationbar">
			    <a href="/liftsharing/<%= id %>" class="nav-item is-tab"><b>Liftsharing</b></a>
					<a href="/calendar" class="nav-item is-tab"><b>Calendar</b></a>
					<a href="/committee/<%= id %>" class="nav-item is-tab"><b>Committee</b></a>
					<a href="/account/<%= id %>" class="nav-item is-tab"><b>Account</b></a>
				</nav>
			</div>	
    </head>
    <body>	   