.logintest{
	text-align: center;
  margin: auto;
  position: absolute;
  top: 50%; left: 10%; bottom: 0; right: 10%;
}
.newuser{
	text-align: center;
  margin: auto;
  position: absolute;
  top: 35%; bottom: 0; 
  padding-left: 10%;
  padding-right: 10%;
}
.id{
	padding-bottom: 2%;
	color: #3D4C47;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	font-weight: bold; 
	display: block;
}
.hero{
	background-color: #1e2d2f;
}
.name{
	text-align: left;
}
.clublist{
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	color: #CF5C36;
}
h1{
	margin-left:3%;
	font-family: 'Lobster', cursive;
	font-size: 600%;
	color: #CF5C36;
  width:100%;
  text-align:left;
	font-weight: bold;
	margin-bottom: -2%;
}
h2{
	margin-left:3%;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	color: #CF5C36;
	width:100%;
  text-align:left;
  margin-bottom: 1%;
  font-weight: bold;
}
body {
	font-family: 'Lobster', cursive;
  background-color: #F2E3BC;
	position: absolute;
 	min-height: 100%;
  min-width: 100%;
}
.container{
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
  height:100%;
}
table{
	table-layout: fixed;
}
th{
	padding-left: 3%;
	border-bottom: 1px solid #3D4C47;
	padding-bottom: 2%;
	padding-top: 2%;
}
.member{
	padding-left: 3%;
	padding-bottom: 2%;
	padding-top: 2%;
	border-bottom: 1px solid #3D4C47;
}
.member:hover{
	background-color: #CF5C36;
}
.menu{
	list-style-type: none;
  width: 100%;
  background-color: #F2E3BC;
}
.menuoptions:hover{
	background-color: #CF5C36;
}
.menuoptions{
	color: #3D4C47;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	display: block;
	padding: 3%;
	border-bottom: 1px solid #3D4C47;
}
.menuoptionsbutton{
	color: #3D4C47;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	display: block;
	width: 100%;
	border:none;
	background-color: #F2E3BC;
	padding-top:3%;
	padding-bottom: 3%; 
	border-bottom: 1px solid #3D4C47;
	text-align: left;
	padding-left: 3%;
}
.menuoptionsbutton:hover{
	background-color: #CF5C36;
}
.menuoptionsbutton:focus{
	outline: none;
}
.profile{
	color: #3D4C47;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	display: block;
}
.editoptions{
	color: #3D4C47;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	display: block;
	padding: 3%;
	border-bottom: 1px solid #3D4C47;
}
.centerpost{
	padding-bottom: 6%;
	padding-right: 15%;
}
.editbutton{
	background-color: #CF5C36;
	color: #3D4C47;
	font-family: 'Raleway', sans-serif;
	border: none;
	width: 100%;
	font-size: 110%;
	font-weight: bold; 
}
input.edit{
	width: 80%;
  padding: 1%;
  box-sizing: border-box;
	border: none;
	float: right;
}
input.edit:hover{
	background: #CF5C36;
}
nav{
	width: 100%;
  background-color: #D2D4C8;
}
nav:hover{
	background: #D2D4C8;
}
a {
  color: #00B7FF;
}
.newuser {
	width: 100%;
}
.widebutton { 
	width: 100%; 
}
.largemenu {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
}
.form{
	padding: 10%;
}
.halfbutton{
	width: 100%;
	display: inline-block;
}
.inline{
	display: inline-block;
	width: 100%;
	padding-bottom: 2%; 
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
}
.liftlist{
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	color: #3D4C47;
	border-bottom: solid;
	border-width: 1px;
}
.memberlist{
	display: inline-block;
}
.loginform{
	outline-style: none;
}
.reservebutton{
	height: 100%;
}
td.left{
	text-align: left;
}
td.leftvalue{
	text-align: left;
}
td.center{
	text-align: left;
}
td.centervalue{
	text-align: left;
}
td.right{
	text-align: left;
}
td.rightvalue{
	text-align: left;
	padding-right: 5%;
}
td.tablebutton{
	padding-top: 1%;
	padding-left: 5%;
}
.checkpage{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	color: #1e2d2f;
}
.checkbutton{
width: 80%;
 left: 10%; 
}
.checkbutton:hover{
	background: #CF5C36;
	border-style: none;
}
.button:hover{
	background: #CF5C36;
	border: 1px solid #CF5C36;
}
.reservebutton:hover{
	background: #CF5C36;
	border: 1px solid #CF5C36;
}
.buttonspan{
	width: 80%;
	margin: 10%;
}
.rightshift{
	left: 21.5%;
	width: 76%;
}
.centershift{
	left: 19%;
	width: 66%;
}
.buttongrid{
	padding-left: 2%;
	padding-top: 2%;
}
.navigationbar {
	padding-left: 2em;
	padding-right: 2em;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	color: #CF5C36;
}